html {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #222630;
  color: #fff;
}

header {
  color: white;
  max-width: 50em;
}

hr {
  border-bottom: 3px solid #fff;
}

select, input {
  color: #000;
}

a {
  color: white;
  text-decoration: none;
}

.btn-red {
  background-color: #e34c38;
  border: none;
}

.logo {
  width: 50%;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 10%;
  color: white;
}

.nav a span {
  border: .3rem solid #bea59b;
}

.nav a:hover span,
.nav a:focus span {
  color: #fff;
}

.btn:hover {
  background-color: #e34c38;
  border-color: #e34c38;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #fff;
  outline-offset: 0;
}
